.body{
    background-color: azure;
}

.headder{
    color: rgb(50, 50, 238);
    font-size: 60px;
}
.position
{
    margin-top: 190px;
    margin-left: 190px;
}

.paragraph{
    font-size: 30px;
}

.paragraph-width{
    margin-top: -40px;
    width: 500px;
    margin-left: 190px;
}
.card{
    background-color: rgb(232, 231, 238);
    width: 250px;
    height: 300px;
    display: flex;
    justify-items: flex-end;
}
.flex{
    display: flex;
    justify-content: center;
    margin-left: 440px;
    margin-top: -170px;
    border-radius: 10px;
}

.input{
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(236, 230, 230);
    border-radius: 5px;
    
}